#logo {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px -22px 0px;
  box-shadow: 0px 0px 0px;
  border: none;
}

#main_content_wrap {
  background-color: #f8f8f8;
}

#header_wrap {
  background: #213141;
  background: -moz-linear-gradient(top, #58A2C4, #214851);
  background: -webkit-linear-gradient(top, #58A2C4, #214851);
  background: -ms-linear-gradient(top, #58A2C4, #214851);
  background: -o-linear-gradient(top, #58A2C4, #214851);
  background: linear-gradient(top, #58A2C4, #214851);
}

#header_wrap .inner {
  padding: 50px 10px 10px 10px;
}

@media (max-width: 768px) {
  #header_wrap .inner {
    h1 {
      font-size: 16pt
    }
    h2 {
      font-size: 14pt
    }
  }
}

#footer_wrap {
  background: #214851;
}

h1, h2 {
  text-shadow: 0 1px 3px rgba(0,0,0,.4);
}

h1 {
  a {
    color: #fff;
    text-shadow: #111 0px 0px 10px;
  }
  a:hover {
    border-bottom: none;
    text-decoration: none;
  }
}

/*
body {
  font: 300 20px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #333;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
*/
.main-nav {
  margin-top: 52px;

  li {
    margin-right: 10px;

    a {
      @include border-radius(5px);
      font-weight: 900;
      font-size: 14px;
      padding: 0.5em 1em;
      text-shadow: none;
      text-transform: uppercase;
      @include transition(all .25s);

      &:hover {
        background-color: #252525;
        @include box-shadow(inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1));
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
      }
    }

    &.current {

      a {
        background-color: #0ac;
        color: #222;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5));
        text-shadow: 0 1px 0 rgba(255,255,255,.3);
      }
    }
  }
}

.mobile-nav {

  ul {
    overflow: hidden;
    width: 100%;
    display: table;
  }

  a {
    float: left;
    width: 100%;
    background-color: #333;
    color: #0ac;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
    @include border-radius(5px);
  }

  li {
    display: table-cell;
    width: 20%;
    padding: 8px 2px;
  }

  .current {

    a {
      background-color: #0ac;
      color: #222;
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5));
      text-shadow: 0 1px 0 rgba(255,255,255,.3);
    }
  }
}

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  @include transition(opacity 0.2s ease-in-out 0.1s);
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

@media (max-width: 768px) {
  .main-nav ul {
    text-align: right;
  }
}
@media (max-width: 830px) {
  .main-nav {
    .show-on-mobiles { display: inline; }
    .hide-on-mobiles { display: none; }
  }
}

.left { float: left; }
.right { float: right; }
//.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

.show-on-mobiles {
  display: none;
}

@media screen and (max-width: 568px) {
  .show-on-mobiles {
    display: block !important;
  }
  a .show-on-mobiles {
    display: inline !important;
  }
}

.outer {
  .inner {
    max-width: 960px;
  }
}

/* Article - Used for both docs and news */
article {
  @include border-radius(5px);
  padding: 10px;
  margin: 0 8px;
  @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.6));
  font-size: 14px;

  li {
    p {
      margin: 8px 0 8px 0;
    }
  }
}

@media (max-width: 480px) {
  article ul { padding-left: 10px; }
}

@media (max-width: 568px) {
  article { margin: 0px; }
}

@media (min-width: 768px) {
  article {
    padding: 20px 40px 20px;
    font-size: 16px;
  }
}

/* Documentation */

.docs {

  article { min-height: 600px; }

  .content { padding: 0; }
}

.section-nav {
  text-align: center;
  padding-top: 30px;
  position: relative;
  background: url(../img/article-footer.png) top center no-repeat;
  margin: 35px 0px 35px;

  > div { width: 48%; }

  a,
  span {
    color: #111;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 12px 10px;
    @include border-radius(5px);
    /*border: 1px solid #333;*/
    @include box-shadow(0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5));
    background-color: #fff;
  }

  a:hover {
    background-color: #0aa;
    text-decoration: none;
  }

  .next,
  .prev { position: relative; }

  .next:after,
  .prev:before {
    font-size: 36px;
    color: #222;
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    position: absolute;
    top: -12px;
  }

  .next:after {
    content: '\203A';
    right: 10px;
  }

  .prev:before {
    content: '\2039';
    left: 10px;
  }

  .prev,
  .prev:hover { padding-left: 30px; }

  .next,
  .next:hover { padding-right: 30px; }

  .disabled {
    opacity: .5;
    cursor: default;
  }
}

.improve {
  padding-top: 16px;
  font-size: 16px;
  a {
    color: #999;
    text-decoration: none;
  }
  span {
    opacity: 0;
  }
}
.improve:hover {
  a {
    @include transition(opacity 0.2s ease-in-out 0.1s);
  }
  span {
    @include transition(opacity 0.2s ease-in-out 0.1s);
    opacity: 1;
  }
}


/* Helper class taken from Bootstrap.
   Hides an element to all devices except screen readers.
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

aside {
  padding-top: 30px;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 10px 8px;
    margin-left: -8px;
    display: inline-block;
    border-bottom: 1px solid #0ac;
  }

  ul {
    padding-left: 0;

    &:first-child { margin-top: 0; }
  }

  li {
    list-style-type: none;
    margin-bottom: 4px;

    a {
      font-size: 16px;
      position: relative;
      color: #333;      
    }

    &.current a:before {
      content: "";
      border-color: transparent transparent transparent #444;
      border-style: solid;
      border-width: 9px;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -20px;
    }
    &.current a {
        color: #0ac;
    }
  }
}


/* Intro */

.intro {

  .unit { padding: 10px 0 40px; }

  p {
    font-size: 1.75em;
    line-height: 1em;
    margin: 0;
  }
}

@media (min-width: 569px) {
  .intro p { font-size: 3.2em; }
}

hr {
  border: 1px solid #bbb;

}

// code related style

pre {
  padding: 6px;

  code {
    width: auto;
  }
}

